.maintitle {
  font-size: 35px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin-left: 10px;
  margin-bottom: 10px;

}

.storylist {
  /*background: lightgrey;*/
  margin-left: 10px;
  overflow: auto;
}

.storyListEntry {
  background-color: #f5ecd9;
  margin-bottom: 10px;
  overflow: auto;
}

.storyListEntry .title {
  font-size: 20px;
}

.selectCategory {
  margin-left: 10px;
  margin-bottom: 10px;
}

.thumbnail {
  float: left;
  margin: 10px;
}

